@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

button {
  transition: all 0.2s ease-in-out;
}
@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
